/* NavBar */
.navbar {
  position: relative;
  z-index: 1;
}
.navbar-brand {
  font-family: Viga;
  font-size: 32px;
}
/* jumbotron */
.jumbotron {
  background-image: url(img/iphone.jpeg);
  background-size: cover;
  height: 640px;
  text-align: center;
  position: relative;
}
.jumbotron .container {
  z-index: 1;
  position: relative;
}
.jumbotron::after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.795), rgba(7, 7, 7, 0.514));
  position: absolute;
  bottom: 0;
}

.jumbotron .display-4 {
  margin-top: 150px;
  text-shadow: 1px, 1px, 1px rgba(201, 189, 189, 0.849);
  color: rgb(255, 251, 251);
  margin-bottom: 35px;
  font-family: Viga;
}
/* info panel */
.info-panel {
  background-color: rgb(255, 255, 255);
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.925);
  border-radius: 12px;
  margin-top: -50px;
  padding: 30px;
}
.info-panel img {
  width: 80px;
  height: 80px;
  margin-right: 20px;
  margin-bottom: 20px;
}
.info-panel h4 {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 5px;
  font-weight: 200;
}
.info-panel p {
  font-size: 14px;
  color: #acacac;
  margin-top: -5px;
}
/* working space */
.workingspace {
  margin-top: 120px;
}
.workingspace h3 {
  font-size: 52px;
  text-transform: uppercase;
}
#projects {
  text-align: center;
}
/*  FOOTER */
.footer {
  background: black;
  color: rgb(255, 255, 255);
  height: 300px;
}

.footer .footer-section {
  flex: 1;
  padding: 25px;
  border: 1px solid rgb(0, 0, 0);
}
.footer .footer-bottom {
  background: black;
  color: white;
  width: 100%;
  height: 50px;
  text-align: center;
  position: absolute;
  bottom: 0px;
  left: 0px;
  padding-top: 20px;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: #3b5998;
  color: white;
}
/* Instagram */
.fa-instagram {
  background: #b651c4;
  color: white;
}

/* Twitter */
.fa-twitter {
  background: #55acee;
  color: white;
}
/* utility */
.tombol {
  text-transform: uppercase;
  border-radius: 40px;
}
.navbar-brand,
  .nav-link {
    color: white !important;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.432);
  }
  

/* DESKTOP VERSION */
@media (min-width: 992px) {
  .nav-link {
    margin-right: 30px;
    text-transform: uppercase;
  }
  .navbar-brand,
  .nav-link {
    color: white !important;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.432);
  }

  .nav-link:hover::after {
    content: '';
    display: block;
    border-bottom: 3px solid rgba(17, 14, 206, 0.747);
    width: 50%;
    margin: auto;
    padding-bottom: 5px;
    margin-bottom: -8px;
  }
  .jumbotron {
    margin-top: -75px;
  }
}
